<!DOCTYPE html>
<html>
  <head>

    <title>KookleoApp</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>

    <header>

        <%= react_component("Header" , {user:@current_user , profile_picture:@profile_picture}) %>

    </header>

    <%= yield %>


  </body>
</html>